.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerDay::-webkit-scrollbar {
  display: none;
}

.containerDay {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.containerDay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 1rem;
    margin-inline: 1rem;
}

.jour, .currentJour {
    margin: auto;
    width: fit-content;
    font-weight: 600;
    padding: .3rem;
    border-radius: 10px;
}

.currentJour {
    color: white;
    background-color: #3166FF;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.MapHoraire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.h3 {
    margin-left: -10px;
}

.creneau{
    border: solid 2px rgb(0, 0, 0, .5);
    border-radius: 5px;
}